body {
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 20px 150px;
}

.header-link {
    display: flex;
    gap: 10px;
}

a {
    color: white;
    text-decoration: none;
}
.section1 {
    display: flex;
    background-color: #1f2937;
    color: white;
    padding: 10px 150px;
}
.box1 {
    text-align: left;
}
.herotext {
    font-size: 48px;
    font-weight:800;
    min-width: 500px;
}
.signup1 {
    border-radius: 4px;
    background-color: #3882f6;
    border: 0 solid #1f2937;
    color: white;
    padding:5px 20px;
    margin-top: 5px;
}
.luffy {
    min-width: 500px;
}
.intro {
    background-color: #face66;
    margin: 0;
    padding: 25px 0;
    font-size: 24px;
    font-weight: 800;
}

.section2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #face66;
    padding-bottom:25px;
}

.box2 {
    max-width: 200px;
}

.section3 {
    background-color: #E5E7EB;
    margin: 0;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.item,
.by {
   width: 600px;
   text-align: left;
   font-size: 20px;
}

.by {
    text-align: right;
    font-weight: bold;
}

.section4 {
    background-color: #3882f6;
    margin: 50px 329.6px;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.text {
    text-align: left;
    color: white;
    font-size: 18px;
}
span {
    color:#d9d9c5;
}
.signup2 {
    border-radius: 4px;
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
    padding:5px 20px;
}

.footer {
    background-color: #1F2937;
    color: white;
    padding: 25px;
}